@import "fonts"

$font-family: "Proxima Nova", sans-serif

// цвета
$general-body-font: #fff
$card-info-background: #171722
$unactive-body-form: #959595
$unactive-input: #353542
$button-border-gradient: linear-gradient(210deg, rgba(132, 213, 44, 0.36) 0%, rgba(23, 23, 34, 0) 100%)
$button-shadow: 0 3px 15px 0 rgba(132, 213, 44, 0.2)
$button-clicked: #212129


// цвет для border выпадающего списка:
// linear-gradient(184deg, rgba(132, 213, 44, 0.36) 0%, rgba(23, 23, 34, 0) 100%)


*
  font-family: $font-family
  box-sizing: border-box
  margin: 0
  padding: 0
  color: $general-body-font

input 
  all: unset
  box-sizing: border-box


.wrapper
  max-width: 1489px
  height: 1140px
  padding: 22px 37px 0 35px
  background-color: $card-info-background
  
  // временные стили
  margin: 2rem auto
  // background-color: #616453
  // border: 1px #000 solid

.header
  display: flex
  align-items: center
  column-gap: 16px
  max-width: 1283px
  height: 48px

  &__title
    height: 30px
    width: 172px
    font-weight: 700
    font-size: 30px
    line-height: 100%
    letter-spacing: 0.01em
  
  &__search
    position: relative
    width: 469px
    height: 100%
    
    &-magnifier
      position: absolute
      width: 21px
      height: 21px
      top: 12px
      left: 20px
    
    &-magnifier:hover
      cursor: pointer
    
    &-magnifier:hover svg path
      fill: $general-body-font

    &-magnifier:active svg path
      fill: $unactive-body-form

    #search
      height: 100%
      width: 100%
      border-radius: 12px
      border: 1px $unactive-body-form solid
      padding: 13px 20px 13px 49px
    
    #search::-webkit-search-cancel-button
      -webkit-appearance: none
      cursor: pointer
      width: 24px
      height: 24px
      background-image: url("../icons/close-button.svg")

    #search:placeholder
      color: $unactive-body-form

    #search:focus
      border-color: $general-body-font

  &__categories
    display: flex
    gap: 10px
    height: 100%

    &-button-border
      display: flex
      justify-content: center
      align-items: center
      padding: 1px
      height: 100%
      border-radius: 10px
      background: $button-border-gradient

    &-button-border:hover
      cursor: pointer

    &-button-border.btn-shadow
      box-shadow: $button-shadow

    &-button
      display: flex
      height: 100%
      padding: 11px 19px
      gap: 10px
      background-color: $unactive-input
      border-radius: 10px

    &-button.btn-clicked
      background-color: $button-clicked

    &-button span
      font-weight: 700
      font-size: 18px
      line-height: 135%
