@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Regular"), local("Proxima-Nova-Regular");
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2");
  src: url("../fonts/ProximaNova-Regular.woff") format("woff");
  src: url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Bold"), local("Proxima-Nova-Bold");
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2");
  src: url("../fonts/ProximaNova-Bold.woff") format("woff");
  src: url("../fonts/ProximaNova-Bold.ttf") fomat("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Semibold"), local("Proxima-Nova-Semibold");
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2");
  src: url("../fonts/ProximaNova-Semibold.woff") format("woff");
  src: url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
* {
  font-family: "Proxima Nova", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
}

input {
  all: unset;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1489px;
  height: 1140px;
  padding: 22px 37px 0 35px;
  background-color: #171722;
  margin: 2rem auto;
}

.header {
  display: flex;
  align-items: center;
  column-gap: 16px;
  max-width: 1283px;
  height: 48px;
}
.header__title {
  height: 30px;
  width: 172px;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0.01em;
}
.header__search {
  position: relative;
  width: 469px;
  height: 100%;
}
.header__search-magnifier {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 12px;
  left: 20px;
}
.header__search-magnifier:hover {
  cursor: pointer;
}
.header__search-magnifier:hover svg path {
  fill: #fff;
}
.header__search-magnifier:active svg path {
  fill: #959595;
}
.header__search #search {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  border: 1px #959595 solid;
  padding: 13px 20px 13px 49px;
}
.header__search #search::-webkit-search-cancel-button {
  -webkit-appearance: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-image: url("../icons/close-button.svg");
}
.header__search #search:placeholder {
  color: #959595;
}
.header__search #search:focus {
  border-color: #fff;
}
.header__categories {
  display: flex;
  gap: 10px;
  height: 100%;
}
.header__categories-button-border {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(210deg, rgba(132, 213, 44, 0.36) 0%, rgba(23, 23, 34, 0) 100%);
}
.header__categories-button-border:hover {
  cursor: pointer;
}
.header__categories-button-border.btn-shadow {
  box-shadow: 0 3px 15px 0 rgba(132, 213, 44, 0.2);
}
.header__categories-button {
  display: flex;
  height: 100%;
  padding: 11px 19px;
  gap: 10px;
  background-color: #353542;
  border-radius: 10px;
}
.header__categories-button.btn-clicked {
  background-color: #212129;
}
.header__categories-button span {
  font-weight: 700;
  font-size: 18px;
  line-height: 135%;
}

/*# sourceMappingURL=style.css.map */
